/*  th{
                 padding: 15px 15px;
                 text-align:center;
                 font-weight: 1000;
                 font-size: 20px;
                 color: black;
                 margin-left: 80px;

}

      .ad input,.ad select,.ad option{
            font-family: 'Segoe UI Light', 'Segoe UI', 'Open sans', Arial, Sans;
            font-size: 14px;
            border: 0;
            background:  #fff ;
            margin: 0 0 20px;
            padding: 8px 10px;
            display: block;
            width: 60% ;
            color:black;
            text-align: center;
            margin-left: 75px;

            
        }
        
        */