
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 35px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgb(102, 0, 0);
  border: 1px solid #c2c2a3;
 }
.tbl-content{
  height:700px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #c2c2a3;
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  border-bottom: 1px solid #c2c2a3;
}


/* demo styles */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #cc0000, #e60000);
  background: linear-gradient(to right, #990000, #cc0000);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}

